/*=========================
** Blog Single
=========================*/
.blog-single-page{
    .content{
        padding-bottom: 31px;
        padding-right: 20px;
        h4{
            margin-top: 24px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .post-meta{
            padding-bottom: 17px;
            li{
                display: inline-block;
                padding-right: 10px;
                a{
                    text-transform: uppercase;
                    color: $base-color;
                }
                i{
                    color: #ccc;
                }
            }
        }
        .blockquote{
            border-left: 3px solid $base-color;
            padding-left: 20px;
            font-style: italic;
            color: #ccc;
            .blockquote-footer{
                padding-top: 22px;
            }
        }
    }
    .social-share{
            padding: 20px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin-bottom: 48px;
            h4{
                display: inline-block;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            ul{
                display: inline-block;
                li{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    background-color: $base-color;
                    text-align: center;
                    border-radius: 50%;
                    @include transition($transition);
                    margin-left: 10px;
                    &:hover{
                        opacity: .7;
                    }
                    &:first-child{
                        background-color: #3b5999;
                    }
                    &:nth-child(2){
                        background-color: #55acee;
                    }
                    &:nth-child(3){
                        background-color: #dd4b39;
                    }
                    &:nth-child(4){
                        background-color: #0077B5;
                    }
                    &:last-child{
                        background-color: #bd081c;
                    }
                    a{
                        color:$white;
                    }
                }
            }
        }
}
.comments-section {
    h2 {
        margin-top:  0;
        text-transform: uppercase;
    }
    .single-comment-item{
        h5{
            margin-bottom: 10px;
            a{
                border: 1px solid #ddd;
                font-weight: 400;
                padding: 5px 10px;;
                text-transform: capitalize;
                border-radius: 5px;
            }
        }
        .comment-time{
            display: block;
            font-size: 14px;
            i{
                color: #ccc;
            }
        }
        p{
            padding-top: 18px;
        }
    }
}
.comment-form{
    padding-top: 20px;
    h2{
        text-transform: uppercase;
    }
    input{
        border: 1px solid #ddd;
    }
    textarea{
        border: 1px solid #ddd;
    }
    input[type=submit]{
        margin-top: 15px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        width: 150px;
        text-transform: uppercase;
        @include transition($transition);
        &:hover{
            background-color: $secondary-color;
        }
    }
}