/*====================
** Investor Area
====================*/
.Investors-area{
    padding-top: 108px;
    padding-bottom: 120px;
    .section-title{
        margin-bottom: 98px; 
        span{
            color: $base-color;
        }
    }
    .single-investor-box{
        display: block;
        position: relative;
        padding-bottom: 40px;
        @include box-shadow(0,0,15px,#DEDEDE,false);
        .investor-pic{
            position: absolute;
            left: 50%;
            top: -40px;
            @include transform(translate(-50%,0));
            img{
                border-radius: 5px;
            }
        }
        .content{
            padding-top: 133px;
            h4{
                text-transform: uppercase;
            }
            .social-icons{
                padding-top: 8px;
                li{
                    display: inline-block;
                    a{
                        display: inline-block;    
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        background-color: $base-color;
                        border-radius: 50%;
                        color: $white;
                        margin: 0 5px;
                        @include transition($transition);
                        &:hover{
                            background-color: $secondary-color;
                            color: $base-color;
                        }
                    }
                }
            }
        }
    }
}
